.character-scene {
    background-size: 360px 640px;
    width: 360px;
    height: 640px;
    overflow: hidden;
}

.stat-block {
    background-color: var(--color-darkest-tint);
    backdrop-filter: blur(2px);
    border: 3px double var(--color-bright);
}
.bg-28 {
    background-image: url("../images/28-portrait.png");
   }