@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

:root {
  --color-bright: #E4D002;
  --color-pale: #936A31;
  --color-half: #705614;
  --color-dark: #4A0604;
  --color-darkest: #140201;
  --color-offset-dark: #49334D;
  --color-offset-mid: #485F95;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

